<ul
  *ngFor="
    let character of characterList;
    let i = index;
    let isLast = last;
    even as isEven;
    first as first
  "
  class="list-group m-2"
>
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
        
      'list-group-item-dark': !isEven,
    }"
  >
    <div>
      <strong style="color: cadetblue">{{ i + 1 }}.</strong>
      <span>{{ character.name }}</span
      >-<strong>Power:</strong><span>{{ character.power }}</span>
    </div>
    <button class="btn btn-danger" (click)="emitDelete(character, i)">X</button>
  </li>
</ul>
