<h1>hola desde DBZ Main page</h1>
<hr />
<div class="row">
  <div class="col">
    <div>
      <div *ngIf="dbzService.deletedCharacter != undefined">
        <h3>Eliminado</h3>
        <strong style="color: cadetblue"
          >{{ dbzService.deletedCharacter.index - 1 }}.</strong
        >
        <span>{{ dbzService.deletedCharacter.name }}</span
        >-<strong>Power:</strong
        ><span>{{ dbzService.deletedCharacter!.power }}</span>
      </div>
    </div>
    <dbz-list
      [characterList]="dbzService.characters"
      (onDeleteCharacter)="dbzService.deletedCharacterReceived($event)"
    ></dbz-list>
  </div>
  <div class="col px-4">
    <dbz-form-heroes
      (onNewCharacter)="dbzService.onNewCharacter($event)"
    ></dbz-form-heroes>
  </div>
</div>
