<h1>hola desde DBZ Main page</h1>
<hr />
<div class="row">
  <div class="col">
    <div>
      <div *ngIf="dbzService.deletedCharacter != undefined">
        <h3>Eliminado</h3>
        <strong>id del personaje eliminado:</strong>
        <p>{{ dbzService.deletedCharacter }}</p>
      </div>
    </div>
    <dbz-list
      [characterList]="dbzService.characters"
      (onDeleteCharacter)="dbzService.deletedCharacterById($event)"
    ></dbz-list>
  </div>
  <div class="col px-4">
    <dbz-form-heroes
      (onNewCharacter)="dbzService.onNewCharacter($event)"
    ></dbz-form-heroes>
  </div>
</div>
